/* Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
.hide {
  display: none;
}
ul {
  list-style-type: none;
}
button {
  background: none;
  border: none;
}
button:focus {
  outline: none;
}
.menu_ref {
  width: 100px;
  height: 54px;
  position: absolute;
  top: 20px;
  left: 924px;
  z-index: 9;
}

/* a,button{border: solid 1px;} */
#fundo {
  background: url(../images/fundo.jpg) no-repeat;
  width: 1024px;
  height: 768px;
  position: absolute;
  background-size: cover;
}

#bt_back_home{
  position: absolute;
  left: 20px;
  bottom: 15px;
  width: 80px;
  height: 80px;
}

#bt_link_1{
  position: absolute;
  top: 120px;
  right: 90px;
  padding: 60px 230px;
}

#bt_link_2{
  position: absolute;
  top: 260px;
  right: 90px;
  padding: 60px 230px;
}

#bt_link_3{
  position: absolute;
  top: 410px;
  right: 90px;
  padding: 60px 230px;
}

