/* Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
.hide {
  display: none;
}
ul {
  list-style-type: none;
}
button {
  background: none;
  border: none;
}
button:focus {
  outline: none;
}

/* a,button{border: solid 1px;}  */

ul {
  list-style-type: none;
}

#canvas {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 1024px;
  height: 768px;
  z-index: 10;
}

#fundo {
  background: url(../images/fundo.jpg) no-repeat;
  width: 1024px;
  height: 768px;
  position: absolute;
  background-size: cover;
  background-size: cover;
}

#next {
  position: absolute;
  right: 0;
  top: 345px;
  width: 80px;
  height: 80px;
}
#previous {
  position: absolute;
  left: 0;
  top: 345px;
  width: 80px;
  height: 80px;
}

img {
  width: 1024px;
  height: 768px;
}

#menu_footer {
  position: absolute;
  bottom: 0;
  width: 1000px;
  height: 60px;
  display: flex;
  flex-direction: row;
  margin-left: 20px;
}

#menu_footer a {
  display: flex;
  width: 130px;
  height: 44px;
}

#menu_footer a:nth-child(1) {
  width: 180px;
}
#menu_footer a:nth-child(2) {
  width: 170px;
}
#menu_footer a:nth-child(3) {
  width: 120px;
}
#menu_footer a:nth-child(4) {
  width: 120px;
}
#menu_footer a:nth-child(5) {
  width: 180px;
}
#menu_footer a:nth-child(6) {
  width: 180px;
}
#menu_footer a:nth-child(7) {
  width: 80px;
}
#menu_footer a:nth-child(8) {
  width: 80px;
}
